/* base styles  */

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 0.834vw;
    @media (max-width: 1700px) {
        font-size: 1.11vw;
    }
    @media (max-width: 1440px) {
        font-size: 1.2vw;
    }
    @media (max-width: $l) {
        font-size: 1.34vw;
    }
    @media (max-width: $t) {
        font-size: 1.55vw;
    }
    @media (max-width: $mn) {
        font-size: 1.6vw;
    }
    @media (max-width: $m) {
        font-size: 2.1vw;
    }
    @media (max-width: $xx) {
        font-size: 2.7vw;
    }
    @media (max-width: $x480) {
        font-size: 3.2vw;
    }
    @media (max-width: $x) {
        font-size: 3.76vw;
    }
    @media (max-width: $xs) {
        font-size: 4.27vw;
    }
}

body {       
    margin: 0;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem-size(16);
    line-height: normal;
    color: var(--color-1);
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;    
    z-index: 1;
    overflow: hidden;
    // background-image: url('@img/bg/bg.webp');
    // background-repeat: repeat;
    // background-size: cover;
    // &::before {
    //     position: absolute;
    //     content: '';
    //     // width: 100%;
    //     // height: 100%;
    //     // top: 0;
    //     // left: 0;
    //     // z-index: -1;
    //     // z-index: 5;
    // }
    &.--brown {
        background: url('@img/bg/bg.webp'), var(--gradient-1) ;
        background-repeat: repeat;
        background-size: cover;
        .nav {
            &.--fixed {
                background: var(--gradient-1);
            }
        }
        @media (max-width: $xx) {
            .header {
                background: var(--gradient-1);
            }            
        }
    }
    &.--brown-2 {
        background: url('@img/bg/bg.webp'), var(--gradient-2) ;
        background-repeat: repeat;
        background-size: cover;
        .nav {
            &.--fixed {
                background: var(--gradient-2);
            }
        }
        @media (max-width: $xx) {
            .header {
                background: var(--gradient-2);
            }            
        }
    }
    &.--brown-3 {
        background: url('@img/bg/bg.webp'), linear-gradient(90deg, #8b6d57 0%, #412a1d 100%);
        background-repeat: repeat;
        background-size: cover;
        .nav {
            &.--fixed {
                background: linear-gradient(90deg, #8b6d57 0%, #412a1d 100%);
            }
        }
        @media (max-width: $xx) {
            .header {
                background: linear-gradient(90deg, #8b6d57 0%, #412a1d 100%);
            }            
        }
    }
}

.main {
    flex: 1 0 auto;
}
body > * {
    flex-shrink: 0; 
}
body.noscroll {
    overflow: hidden;
}
#overlay {
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    position: fixed;
    &.active {
        display: block;
    }
}

.container {
    width: 100%;
    --container-padding: 30px;
    max-width: rem-size(1260);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    @media (max-width: 374px) {
        --container-padding: 10px;
    }
}
.container-left {
    padding-left: max(30px, (100% - rem-size(1200)) / 2);
    @media (max-width: 374px) {
        padding-left: max(10px, (100% - rem-size(1200)) / 2);
    }
}
.none {
    display: none !important;
}
.list-scrollbar  {  
    overflow-y: auto;
    scrollbar-color: rgba(153, 166, 183, 0.5) #fff;
}
.list-scrollbar::-webkit-scrollbar-track {
    border-radius: 4px;
}
.list-scrollbar::-webkit-scrollbar {
    width: 3px;
}
.list-scrollbar::-webkit-scrollbar-track {
    background-color: #ececec;
}
.list-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #c9ccd1;
}
.list-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #075D4E;
}

.none-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}
.none-scrollbar::-webkit-scrollbar {
    width: 0px;
    display: none; /* Для WebKit (Chrome, Safari, iOS Safari) */
}
.none-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}
.none-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
}
.none-scrollbar:hover::-webkit-scrollbar-thumb {
    background: transparent;
}
button:disabled {
    opacity: 0.3;
}
.js-active {
    animation: active 0.3s ease-in alternate; 
}

.mb {
    margin-bottom: clamp(3.125rem, 0.284rem + 12.12vw, 9.375rem);
}
.mt {
    margin-top: clamp(3.125rem, 0.284rem + 12.12vw, 9.375rem);
}
.leaf-right {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        background-image: url('@img/decor/decor_1.svg');
        background-repeat: no-repeat;
        background-size: rem-size(550) rem-size(1200);
        width: rem-size(550);
        height: rem-size(1200);
        top: 10%;
        right: 0;
        animation: animDecorRight 3s ease-in-out infinite alternate 2s;
    }
}
.leaf-left {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        background-image: url('@img/decor/decor_2.svg');
        background-repeat: no-repeat;
        background-size: rem-size(1010) rem-size(1310);
        width: rem-size(1010);
        height: rem-size(1310);
        top: 10%;
        left: 0;
        animation: animDecorRight 3s ease-in-out infinite alternate 2s;
    }
}

.animated-circle {
    position: absolute;    
    bottom: -50%;
    width: rem-size(610); height: rem-size(560);
    z-index: 1;
    @media (max-width: $xx) {
       display: none;
    }
    &.--right {
        right: -20%;
        @media (max-width: $mn) {
            right: -38%;
        }   
    }
    &.--left {
        left: 0%;
        bottom: 0%;
        @media (max-width: $mn) {
            left: -38%;
        }
    }
}
.zoom {
    animation: animVideoImgZoom 20s linear 2.5s infinite;
}
.running-line {
    animation: animRunningLine 20s linear infinite;
    transform: translateX(0%); 
    white-space: nowrap;
    span {
        padding: 0 50px;
    }
}

.header-title {
    margin: rem-size(45) 0 rem-size(70);
    display: grid;
    gap: 15px;
    @media (max-width: $xx) {
        margin: rem-size(30) 0 rem-size(40);
    }
    &.--mb-40 {
        margin-bottom: rem-size(40);
    }
}