:root {
    --color-1: #ebdccb; 
    --color-2: #d9d4bd;
    --color-3: #efdabe;
    --color-4: #c7b399;
    --color-footer: #b7a38c;

    --gradient-1: linear-gradient(90deg, #554a40 0%, #2d2823 100%); 
    --gradient-2: linear-gradient(90deg, #47312c 0%, #36241e 100%); 
    --gradient-3: linear-gradient(90deg, #656045 0%, #302e23 100%); 
    --gradient-title: linear-gradient(90deg, #ebdccb 0%, #f2ca9c 100%); 
    
    --font-family: "Raleway", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "Inter", sans-serif;
    --font3: "Roboto", sans-serif;
    --font4: "Tinos", sans-serif;
    
    --transition: 0.2s;
   
}

// @media
$lg: 1400px;
$l: 1200px;
$t: 1024px;
$mn: 992px;
$m: 768px;
$xx: 576px;
$x480: 480px;
$x: 425px;
$xs: 375px;



