@keyframes animHeader {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes animPrompt {
    0% {
        transform: rotate(0deg);
    }
    100% {        
        transform: rotate(360deg);    
    }
}
@keyframes animDecorRight {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {        
        transform: translateY(60px) scale(1.04);    
    }
}
@keyframes animVideoImgZoom {
    0% {
        transform: scale(1);
    }
    50% {   
        transform: scale(1.1);    
    }
    100% {    
        transform: scale(1);    
    }
}

@keyframes animRunningLine {
    0% {
        transform: translateX(100%); 
    }
    100% {   
        transform: translateX(-100%); 
    }
}
@keyframes animGift {
    0% {
        transform: rotateY(-10deg); 
        // transform: rotateY(0deg) scale3d(1, 1, 1); 
    }
    25% {   
        transform: rotateY(0deg); 
        // transform: rotateY(10deg) scale3d(0.9, 1, 1); 
    }
    50% {   
        transform: rotateY(10deg); 
        // transform: rotateY(10deg) scale3d(0.9, 1, 1); 
    }
    75% {   
        transform: rotateY(0deg); 
        // transform: rotateY(10deg) scale3d(0.9, 1, 1); 
    }
    100% {   
        transform: rotateY(-10deg); 
        // transform: rotateY(0deg) scale3d(1, 1, 1); 
    }
}








@keyframes animLogo {
    0% {
        opacity: 0.2;
        transform: scale(.6);
    }
    100% {
        opacity: 1;          
        transform: scale(1);    
    }
}
@media (max-width: $xx) {
    @keyframes animLogo {
        0% {
            opacity: 0.2;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            transform: scale(1.2);               
        }
    }
}

@keyframes animDecor_light {
    0% {
        
        transform: translateY(0px) translatex(0px) rotate(0);
    }
    100% {
        transform: translateY(50px) translatex(-10px) rotate(-10deg);
    }
}
@keyframes animDecor_dark {
    0% {
        transform: translateY(0px) translatex(0px) rotate(0);
    }
    100% {
        transform: translateY(50px) translatex(10px) rotate(10deg);
    }
}

@media (max-width: $xx) {
    @keyframes animDecor_light {
        0% {
            
            transform: translateY(0px) translatex(0px) rotate(0);
        }
        100% {
            transform: translateY(50px) translatex(-72px) rotate(-22deg);
        }
    }
    @keyframes animDecor_dark {
        0% {
            transform: translateY(0px) translatex(0px) rotate(0);
        }
        100% {
            transform: translateY(50px) translatex(65px) rotate(26deg);
        }
    }
}
