.bredcrumbrs {
    display: flex;
    align-items: center;
    justify-content: center;    
    &.--absolute {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
    }
}

.bredcrumbrs__item {
    &:last-child {        
        .bredcrumbrs__link {
            text-decoration: none;
            cursor: auto;
        }
    }
    &:not(:last-child) {
        .bredcrumbrs__link {      
            padding-right: 30px;      
            &::before {
                position: absolute;
                content: '';
                width: 12px;
                height: .5px;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                background-color: var(--color-footer);
            }
        }
    }    
}
.bredcrumbrs__link {
    position: relative;
    font-weight: 400;
    font-size: rem-size(12);
    text-decoration: underline;
    color: var(--color-footer);
    @media (hover: hover){
        &:hover {
        text-decoration: none;
        }
    }
}