.btn {
    position: relative;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    gap: rem-size(10);
    border-radius: 4px;
    padding: rem-size(12) rem-size(30);
    font-weight: 400;
    font-size: rem-size(12);
    text-align: center;
    color: var(--color-3);
    line-height: normal;
    border: 1px solid transparent;
    @media (max-width: $x480) {
        padding: rem-size(10) rem-size(15);
    }
    &.--border {
        border: 1px solid currentColor;
        @media (hover: hover){
            &:hover {
                color: #fff;
            }
        }
    }
    &.--full {
        background-color: var(--color-1);
        color: #786149;
        @media (hover: hover){
            &:hover {
                color: var(--color-3);
                background-color: transparent;
                border: 1px solid currentColor;
            }
        }
    }
    &.--opacity {
        background: rgba(0, 0, 0, 0.2);
        color: #453624;
        @media (hover: hover){
            &:hover {
                color: #fff;
                background: rgba(0, 0, 0, 0.7);
            }
        }       
    }
}
